:root {
  --black: #1a040f;
  --white: #ffffff;
  --pink: #ee2a7b;
  --darkpink: #5c1231;
  --blue: #0000ff;
  --lightpink: #ff87b9;
  --navHeight: 10vh;
  --marginVar: 10px;
  --paddingVar: 12px;
}
* {
  box-sizing: border-box;
  position: relative;
  cursor: url("https://cdn.glitch.com/ca4864ae-2cec-44d3-ac27-25c0606ac8ff%2Fcursor1.png?v=1622737202543"),
    auto; /*THESE PICTURES HREF IS FROM CODE 2 PROJECT ASSETS, NOT HERE*/
}
body {
  font-family: "Poppins", monospace;
  width: 100vw;
  margin: 0;
  font-size: 18px;
  line-height: 1.4;
  overflow-x: hidden;
  /*background-image: linear-gradient(90deg,var(--black), var(--darkpink));*/
  background: var(--black);
  color: rgba(255, 255, 255, 0.7);
}
h1 {
  font-weight: bold;
  font-size: 30pt;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  padding: var(--paddingVar);
  letter-spacing: 3px;
  color: var(--pink);
}
h2 {
  /*with bg colour*/
  font-weight: bold;
  font-size: 20pt;
  display: table;
  text-transform: uppercase;
  background: var(--pink);
  color: var(--black);
  opacity: 70%;
  margin: var(--marginVar);
  padding-left: var(--paddingVar);
  padding-right: var(--paddingVar);
  padding-top: calc(var(--paddingVar) / 2);
  padding-bottom: calc(var(--paddingVar) / 2);
}
h3 {
  /*with outline*/
  font-weight: lighter;
  font-size: 18pt;
  display: table;
  outline: 2px solid rgba(238, 42, 124, 0.5);
  color: rgba(238, 42, 124, 0.8);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--paddingVar);
  padding-right: var(--paddingVar);
  padding-top: calc(var(--paddingVar) / 2);
  padding-bottom: calc(var(--paddingVar) / 2);
}
h4 {
  /*only used in about page header*/
  font-weight: bold;
  font-size: 30pt;
  text-transform: uppercase;
  margin: 0px 20px 0px;
  /* padding: var(--paddingVar); */
  color: var(--pink);
}
h5 {
  /*only used in about page header*/
  font-weight: bold;
  font-size: 20pt;
  text-transform: uppercase;
  margin: 0px 20px 0px;
  /* padding: var(--paddingVar); */
  color: var(--pink);
}
h6 {
  /*only used in about page header*/
  font-weight: bold;
  font-size: 15pt;
  text-transform: uppercase;
  margin: 0px 20px 0px;
  /* padding: var(--paddingVar); */
  color: var(--lightpink);
}
p {
  font-weight: normal;
  font-size: 15pt;
  margin: var(--marginVar);
  padding: var(--paddingVar);
}
.navigation {
  display: block;
  position: fixed;
  top: 0;
  width: 100vw;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  background: rgba(238, 42, 124, 0.5);
  z-index: 100;
}
.navigation a {
  font-size: 18pt;
  text-decoration: none;
  color: var(--white);
  opacity: 100%;
  margin-left: calc(var(--marginVar) * 2);
  margin-right: calc(var(--marginVar) * 2);
}
.navigation a:hover {
  opacity: 60%;
  text-decoration: line-through;
}
.lNav {
  margin-right: auto;
  margin-left: 20px;
}
.rNav {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}
.rNav a {
  text-transform: none;
  font-size: 13pt;
  margin-left: 80px;
}
.content {
  display: block;
  width: 100vw;
}
.artistBlurb {
  max-width: 800px;
  margin-top: 150px;
  margin-bottom: 50px;
  margin-left: 200px;
}
.artistBlurb h2 {
  color: var(--pink);
  opacity: 100%;
  background: none;
}
.artistBlurb p {
  font-size: 18pt;
  color: var(--lightpink);
}
.headboard {
  margin: 0px;
  width: 100vw;
}
.grid {
  display: block;
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
#photos {
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  -moz-column-count: 3;
  -moz-column-gap: 0px;
  column-count: 3;
  column-gap: 0px;
}
.photocontainer {
  margin: 0px 35px 40px;
}
.photoblock {
  width: 100% !important;
  height: auto !important;
}
.photoblock img {
  width: 100% !important;
  justify: center;
  padding-bottom: 5px;
}
.photoblock:hover {
  opacity: 50%;
  text-decoration: line-through;
}
.photoblock a {
  font-size: 18pt;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--pink);
}
.phototext {
  display: flex;
  font-size: 12pt;
  justify: space-between;
  text-transform: none;
  text-decoration: none;
  color: var(--lightpink);
  justify-content: space-between;
}
.projectGrid {
  display: flex;
}
.final {
  width: 50%;
  min-height: calc(100vh - 200px);
  display: block;
  margin-top: 150px;
  margin-bottom: 50px;
  padding-left: 7%;
  padding-right: auto;
}

.finalFixed {
  position: sticky;
  top: 150px;
}
.final h1 {
  margin-top: 0px;
}
.linkButton {
  top: 0px;
  botton: 0px;
  margin-top: 50px;
}
.final a {
  color: var(--black);
  text-decoration: none;
}
.final img {
  width: 95%;
  height: 95%;
}
.process {
  width: 50%;
  min-height: calc(100vh - 200px);
  display: block;
  margin-top: 150px;
  margin-bottom: 50px;
  padding-left: auto;
  padding-right: 7%;
}

iframe {
  margin-left: 0px;
  border: none;
}
.processImg {
  width: 45%;
  height: 45%;
  fill: cover;
  display: inline-block;
  float: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  object-fit: cover;
}
.processImg3 {
  width: 30%;
  height: 250px;
  fill: cover;
  display: inline-block;
  float: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  object-fit: cover;
}
.images {
  display: flex;
}
.linkButton {
  text-decoration: none;
  list-style: none;
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
  margin-right: auto;
  padding: 10px;
  border-radius: 10px;
  background: var(--pink);
  color: var(--black);
  opacity: 70%;
}
.linkButton:hover {
  opacity: 40%;
}
.process ul {
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.process ul li {
  list-style: none;
}
.process a {
  color: var(--black);
  text-decoration: none;
  font-size: 24px;
}

.reference li {
  list-style: none;
}
.reference a {
  font-weight: normal;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  margin: var(--marginVar);
  padding: var(--paddingVar);
}
.reference a:hover {
  opacity: 60%;
}
.footer {
  left: 0;
  bottom: 0;
  position: relative;
  width: 100vw;
  height: 200px;
  background: rgba(238, 42, 124, 0.5);
  text-align: center;
  padding-top: 30px;
}
.footer p {
  color: var(--black);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15pt;
}
.socialslogo {
  width: 45px;
  margin: 0px 10px 0px;
}
.socialslogo:hover {
  opacity: 50%;
}
@media only screen and (max-width: 1250px) {
  .navigation {
    padding-left: 40px;
    padding-right: 40px;
  }
  .rNav a {
    margin-left: 40px;
  }
  .artistBlurb {
    margin-left: 100px;
  }
  #photos {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
  .projectGrid {
    display: block;
  }
  .final {
    width: 100%;
    display: block;
  }
  .finalFixed {
    position: relative;
  }
  .process {
    width: 100%;
    padding-left: 7%;
    padding-right: auto;
    display: block;
    position: relative;
  }
}
@media only screen and (max-width: 600px) {
  .navigation {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navigation a {
    font-size: 12pt;
    line-height: 0.5;
    margin: 0px;
  }
  .rNav a {
    margin-left: 0px;
    font-size: 10pt;
  }
  .artistBlurb {
    margin-left: 50px;
  }
  #photos {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
  iframe {
    display: none;
  }
}
